<mat-toolbar>
  Whisper
  <button mat-icon-button routerLink="home" color="primary">
    <mat-icon>home</mat-icon>
  </button>
  <button
    mat-icon-button
    [routerLink]="['login', { redirect_path: currentPath() }]"
    color="accent"
  >
    <mat-icon>login</mat-icon>
  </button>
  <button mat-icon-button routerLink="share-target" color="primary">
    <mat-icon>share</mat-icon>
  </button>
  <button mat-icon-button routerLink="kein-echter-pfad" color="warn">
    <mat-icon>bug_report</mat-icon>
  </button>
</mat-toolbar>
<router-outlet></router-outlet>
