.history {
  margin: 20px;
}

.history .date {
  color: #808080;
  text-align: center;
}

.history .title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


.buttons {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
