<div
  ng2FileDrop
  [ngClass]="{ 'nv-file-over': hasBaseDropZoneOver }"
  (fileOver)="fileOverBase($event)"
  [uploader]="uploader"
  class="well my-drop-zone"
>
  Drop files here
  <input type="file" ng2FileSelect [uploader]="uploader" multiple />
</div>
<br />
Select multiple files
<input type="file" ng2FileSelect [uploader]="uploader" multiple />
<br />
Select single file
<input type="file" ng2FileSelect [uploader]="uploader" />
<br />
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Size</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of uploader.queue">
      <td>
        <strong>{{ item?.file?.name }}</strong>
      </td>
      <td *ngIf="uploader.options.isHTML5" nowrap>
        {{ item?.file?.size / 1024 / 1024 | number : ".2" }} MB
      </td>
      <td nowrap>
        <button
          type="button"
          (click)="item.upload()"
          [disabled]="item.isReady || item.isUploading || item.isSuccess"
        >
          Upload
        </button>
        <button
          type="button"
          (click)="item.cancel()"
          [disabled]="!item.isUploading"
        >
          Cancel
        </button>
        <button type="button" (click)="item.remove()">Remove</button>
      </td>
    </tr>
  </tbody>
</table>
<br />
<button type="button" (click)="reloadUnfinished()">Reload</button>
<br />

<table>
  <thead>
    <tr>
      <th>task_id</th>
      <th width="50%">transcript</th>
      <th>lang</th>
      <th>type</th>
      <th>status</th>
      <th>uploaded</th>
      <th>duration</th>
      <th>finished</th>
      <th>target_size</th>
      <th>used_size</th>
      <th>device</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let trc of history">
      <td>{{ trc.task_id }}</td>
      <td>{{ trc.transcript }}</td>
      <td>{{ trc.source_language }}</td>
      <td>{{ trc.task_type }}</td>
      <td>{{ trc.status }}</td>
      <td>{{ trc.time_uploaded | date : "HH:mm:ss.SSS" }}</td>
      <td>{{ trc.processing_duration }}</td>
      <td>{{ trc.time_processing_finished | date : "HH:mm:ss.SSS" }}</td>
      <td>{{ trc.target_model_size }}</td>
      <td>{{ trc.used_model_size }}</td>
      <td>{{ trc.used_device }}</td>
    </tr>
  </tbody>
</table>
<br />
<button type="button" (click)="testAuth()">TEST</button>

{{ test_auth }}
