<input
  type="file"
  #fileInput
  id="fileInput"
  hidden
  multiple
  (change)="onFileSelected($event)"
  accept="audio/*"
/>

<div class="buttons">
  <button
    type="button"
    mat-raised-button
    color="primary"
    (click)="fileInput.click()"
  >
    Choose Files
    <mat-icon>upload</mat-icon>
  </button>

  <button mat-raised-button color="primary" (click)="onPaste()">
    Paste
    <mat-icon>content_paste</mat-icon>
  </button>
</div>

<div class="history">
  <mat-accordion>
    <ng-container *ngFor="let he of history.slice().reverse()">
      <mat-expansion-panel [disabled]="!he.isDone()">
        <mat-expansion-panel-header>
          <mat-panel-title class="title">
            {{ he.short }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p class="date">
          {{ he.transcript.time_uploaded | date : "short" }}
        </p>
        <p class="transcript">
          {{ he.transcript.transcript }}
        </p>
      </mat-expansion-panel>
      <mat-progress-bar
        *ngIf="he.pbar.show"
        [mode]="he.pbar.mode"
        [value]="he.pbar.value"
        [color]="he.pbar.color"
      ></mat-progress-bar>
    </ng-container>
  </mat-accordion>
</div>
