
<button type="button" (click)="reloadUnfinished()">Reload</button>
<mat-divider></mat-divider>

<table>
  <thead>
    <tr>
      <th>task_id</th>
      <th width="50%">transcript</th>
      <th>lang</th>
      <th>type</th>
      <th>status</th>
      <th>uploaded</th>
      <th>duration</th>
      <th>finished</th>
      <th>target_size</th>
      <th>used_size</th>
      <th>device</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let trc of history">
      <td>{{ trc.task_id }}</td>
      <td>{{ trc.transcript }}</td>
      <td>{{ trc.source_language }}</td>
      <td>{{ trc.task_type }}</td>
      <td>{{ trc.status }}</td>
      <td>{{ trc.time_uploaded | date : "HH:mm:ss.SSS" }}</td>
      <td>{{ trc.processing_duration }}</td>
      <td>{{ trc.time_processing_finished | date : "HH:mm:ss.SSS" }}</td>
      <td>{{ trc.target_model_size }}</td>
      <td>{{ trc.used_model_size }}</td>
      <td>{{ trc.used_device }}</td>
    </tr>
  </tbody>
</table>

<mat-divider></mat-divider>

<div class="center">
  <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)">
      <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
        Optional custom content that replaces the the entire default content.
        <button type="button" (click)="openFileSelector()">Browse Files</button>
      </ng-template>
  </ngx-file-drop>
  <div class="upload-table">
      <table class="table">
          <thead>
              <tr>
                  <th>Name</th>
              </tr>
          </thead>
          <tbody class="upload-name-style">
              <tr *ngFor="let item of files; let i=index">
                  <td><strong>{{ item.relativePath }}</strong></td>
              </tr>
          </tbody>
      </table>
  </div>
</div>
